@font-face{
    font-family: 'Bebas';
    src: url('fonts/bebas/BebasNeue%20Regular-webfont.eot');
    src: url('fonts/bebas/BebasNeue%20Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/bebas/BebasNeue%20Regular-webfont.woff') format('woff'),
    url('fonts/bebas/BebasNeue%20Regular-webfont.ttf') format('truetype'),
    url('fonts/bebas/BebasNeue%20Regular-webfont.svg#webfont') format('svg');
}

@font-face{
    font-family: 'BebasBold';
    src: url('fonts/bebas/BebasNeue%20Bold-webfont.eot');
    src: url('fonts/bebas/BebasNeue%20Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('fonts/bebas/BebasNeue%20Bold-webfont.woff') format('woff'),
    url('fonts/bebas/BebasNeue%20Bold-webfont.ttf') format('truetype'),
    url('fonts/bebas/BebasNeue%20Bold-webfont.svg#webfont') format('svg');
}

/*General Styling*/

body{
    margin:0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

.clear{
    clear:both;
    margin:0;
    min-height:1px;
    background-color: transparent;
}

input:-webkit-autofill {
    -webkit-box-shadow: 0 0 0 1000px white inset;
}

a{
    color: inherit;
    text-decoration: none;
}

b{
    color: #D30001;
}

h1{
    line-height: 100px;
    font-size: 60px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #007f01;
    margin:0;
    font-weight: normal;
}

h2{
    font-size: 40px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #000000;
    margin:0;
}


form label{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size:40px;
    margin-right:10px;
    display: block;
}

form input{
    font    : 25px Arial, Helvetica, sans-serif;
    border: 3px solid #000000;
    padding : 5px;
    margin  : 0;
    width   : 240px;
    background: none;
}

form textarea{
    font    : 25px Arial, Helvetica, sans-serif;
    border: 3px solid #000000;
    padding : 5px;
    margin  : 0;
    width: 300px;
    background: none;
}

form input:focus{
    border-color   :#D30001;
    outline-color: white;
}

button{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    font-size: 50px;
    border       : 0 solid #333;
    border-radius: 0;
    background   : none;
    cursor: pointer;
    /*position: relative;
    left: 155px;*/
}

#heading {
    width:950px;
    margin: 5px auto 0 auto;
}

#logo {
    float:left;
    width: 372px;
    height:95px;

}

#logoLink{
    width:100%;
    height:100%;
    background: transparent url('images/logo.png') no-repeat center;
    text-indent:-999em;
    overflow: hidden;
    display:block;
}

#accountLinks {
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size: 35px;
    line-height: 95px;
    float: right;
    width: 300px;
    height:95px;
    text-align: right;
}
#accountLinks a{
    margin: 0 10px 0 0;
}


#accountSettings, #changeEmail, #changeUsername, #changePassword, #changesMade, #success, #failure{
    display: none;
    position:absolute;
    z-index: 2;
    /*top and left position computed by jquery in scripts/script.js centerDivOverlay function*/
    width:400px;
    padding:20px;
    background-color: white;
}

.return{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    font-size: 30px;
    cursor: pointer;
    text-align: right;
}

.back{
    float:left;
    width:100px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #007f01;
    font-size: 30px;
    cursor: pointer;
}

#accountSettings h1{
    line-height: normal;
}

#accountSettings ul{
    margin: 0 0 0 0;
    padding: 0 0;
    list-style: none;
    line-height: normal;
}

#accountSettings ul li{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size: 50px;
}

#passwordErrorText{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
}

#changesMade{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size: 30px;
    color: #007f01;
}

#sidebar{
    float:left;
    width: 750px;
}

#sidebar ul {
    margin: 0 0 0 0;
    padding: 0 0;
    list-style: none;
    line-height: normal;
}

#sidebar li {
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size: 50px;
    display: inline-block;
    padding: 0 10px;
    color: #D30001;
}

#newRecipeLink{
    float:right;
    width: 200px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    font-size: 40px;
    line-height: 60px;
    text-align: right;
    color: #007f01;
}

#content{
    background: #D30001 url('images/contentBackground.png') repeat-y center top;
    /*background: #ffffff url('images/9.jpg') repeat;
    background-attachment: fixed;*/
    width: 100%;
    margin: 0;
    padding-bottom: 10px;
}

#content ul, #content ol{
    margin: 0 0;
}

#feed, #recipeBook, #pantry, #list, #userPage, #recipePage, #newRecipe{
    background-color: white;
    width: 750px;
    /*padding:0 30px;*/
    margin: 0 auto 20px auto;
}

#overlay{
    display: none;
    position: absolute;
    top:0;
    left:0;
    z-index: 1;
    width:100%;
    height: 100%;
    background-color: #000000;
    opacity: .8;
}

#footer{
    background-color: white;
    width:1100px;
    margin: 0 auto;
    padding:20px 0;
    font-weight:bold;
}

#footerContent{}

/*Styles by section: #feed div*/

#feed .userName{
    float:left;
    width:300px;
    height:100px;
}

#feed h1{
    line-height: 100px;
}

#feed .timeStamp{
    float: right;
    width: 150px;
    height:100px;
    color: #000000;
    font-size: 25px;
    text-align: right;
    line-height: 100px;
}

#feed .foodPics{
    margin:10px 0;
}

#feed .threePics img{
    width: 225px;
    height: 225px;
}

#feed .threePics ul, #feed .twoPics ul, #feed .onePic ul{
    margin: 0 0 0 0;
    padding: 0 0;
    list-style: none;
    line-height: normal;
}

#feed .threePics li, #feed .twoPics li{
    display: inline-block;
    padding: 0 10px;
}

#feed .twoPics img{
    width: 350px;
    height: 350px;
}

#feed .onePic img{
    width: 400px;
    height: 400px;
}

#feed .onePic li{
    display: block;
    width:400px;
    padding: 0 10px;
    margin: 0 auto;
}

#feed .recipeDescription h2{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #007f01;
    font-size: 36px;
    margin: 20px 0;
}

#feed .recipeItemList h2, #feed .recipeProcess h2{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    font-size: 25px;
    margin: 10px 0;
}

#feed .viewMore{
    color: #D30001;
    font-size: 40px;
    padding-left:20px;
}

#feed .shareOrSave{
    font-size:42px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    text-align:right;
}

#feed .recipeContent{
    margin-bottom:30px;
}



/*Styles by section: #recipeBook div*/

#recipeBook .savedRecipe{
    display: block;
    float:left;
    height:225px;
    width:225px;
    /*this background rule can be deleted after dynamically generating thumbs*/
    background-size: contain;
    margin:10px;
}

#recipeBook .savedRecipe .recipeTitle{
    display: block;
    background: transparent url('images/blackTransparent.png');
    height:70px;
    line-height: 70px;
    margin-top: 135px;
    padding: 10px 5px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: right;
    overflow: hidden;
}

#recipeBook .savedRecipe .recipeTitle span{
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;
}

/*Styles by section: #pantry div*/

#pantry .pantryCategory{
    width:225px;
}

#pantry h1{
    float: left;
    line-height: normal;
}

#pantry #addItems{
    font-size: 40px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #007f01;
    padding:11px 0 0 200px;
}

#pantry .deleteItem{
    font-weight: bold;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
}

/*Styles by section: #list div*/

#list h1{
    float: left;
    line-height: normal;
}

#list #addItems{
    font-size: 40px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #007f01;
    padding:11px 0 0 300px;
}

#list .listColumn{
    float:left;
    width:225px;
    margin:10px;
}

#list .deleteItem{
    font-weight: bold;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
}

#list #addItemsToPantry{
    text-align: right;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    font-size: 40px;
}

/*Styles by section: #userPage div*/

#userPage #edit{
    text-align: right;
}

#userPage h3{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    font-size: 30px;
    margin:0;
}

#userPage h1{
    color: #D30001;
}

#userPage #userTitle{
    font-size: 40px;
    color: black;
}

#userPage #userIcon{
    float:left;
    width:100px;
    height:100px;
    /*this background rule can be deleted after dynamically generating thumbs*/
    background-size: contain;
}

#userPage #userBio{
    margin-left:120px;
}

#userPage #userRecipes{
    margin-top: 20px;
}

#userPage .recipeLink{
    display: block;
    float:left;
    height:225px;
    width:225px;
    /*this background rule can be deleted after dynamically generating thumbs*/
    background-size: contain;
    margin:10px;
}

#userPage .recipeLink .recipeTitle{
    display:block;
    background: transparent url('images/blackTransparent.png');
    height:70px;
    line-height: 70px;
    margin-top: 135px;
    padding: 10px 5px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: white;
    font-size: 30px;
    text-align: right;
    overflow: hidden;
}

#userPage .recipeLink .recipeTitle span{
    display: inline-block;
    vertical-align: bottom;
    line-height: normal;
}

#userPage .noRecipes{
    text-align:center;
    font-size:30px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
}

/*Styles by section: #recipePage div*/

#recipePage .recipeTitle{
    float:left;
    width:600px;
    height:100px;
}

#recipePage h1{
    font-size: 60px;
    line-height: 100px;
}

#recipePage h3{
    font-size: 25px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    text-align: right;
}

#recipePage .timeStamp{
    float: right;
    width: 150px;
    height:100px;
    color: #000000;
    font-size: 25px;
    text-align: right;
    line-height: 100px;
}

#recipePage .foodPics{
    margin:10px 0;
}

#recipePage .threePics img{
    width: 225px;
    height: 225px;
}

#recipePage .threePics ul, #recipePage .twoPics ul, #recipePage .onePic ul{
    margin: 0 0 0 0;
    padding: 0 0;
    list-style: none;
    line-height: normal;
}

#recipePage .threePics li, #recipePage .twoPics li{
    display: inline-block;
    padding: 0 10px;
}

#recipePage .twoPics img{
    width: 350px;
    height: 350px;
}

#recipePage .onePic img{
    width: 400px;
    height: 400px;
}

#recipePage .onePic li{
    display: block;
    width:400px;
    padding: 0 10px;
    margin: 0 auto;
}

#recipePage .recipeDescription h2{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #007f01;
    font-size: 36px;
    margin: 20px 0;
}

#recipePage .recipeItemList h2, #recipePage .recipeProcess h2{
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    font-size: 25px;
    margin: 10px 0;
}

#recipePage .viewMore{
    color: #D30001;
    font-size: 40px;
    padding-left:20px;
}

#recipePage .shareOrSave{
    font-size:42px;
    font-family: 'BebasBold', Arial, Helvetica, sans-serif;
    color: #D30001;
    text-align:right;
}

#recipePage .recipeContent{
    margin-bottom:30px;
}

/*Styles by section: #newRecipe div*/

#addRecipeForm label{
    font-size:40px;
    margin:0;
}

#addRecipeForm input{
    font-size:12px;
    margin:0;
}

#addRecipeForm div, #addRecipeForm li{
    margin:5px 0;
}

#addRecipeForm ol{
    padding-left:10px;
}

#addRecipeForm button{
    font-size:50px;
    margin:0;
}

#addRecipeForm .remove_field{
    color: #D30001;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
    font-weight: bold;
}

#addRecipeForm .steps_fields_wrap input{
    width:500px;
}

#addRecipeForm textarea{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
    height: 300px;
}

#addRecipeForm .addIngredientButton, #addRecipeForm .addPicturesButton,
#addRecipeForm .addStepButton{
    color: #007f01;
}

#addRecipeForm .error{
    color: #D30001;
    font-size: 20px;
}